<h1>
  Reflection from <%= @daily_reflection.updated_at.strftime("%D") %>
</h1>

<div>
  <div>
    <a href="/daily_reflections">
      Return to list of your reflections
    </a>
  </div>

  <div>
    <a href="/existing_daily_reflection_form/<%= @daily_reflection.id %>">
      Edit reflection
    </a>
  </div>

  <div>
    <a href="/delete_daily_reflection/<%= @daily_reflection.id %>">
      Delete reflection
    </a>
  </div>
</div>

<dl>
  <dt>
    Reflection
  </dt>
  <dd>
    <%= @daily_reflection.reflection_text %>
  </dd>

  <br>
  
  <dt>
    Created on
  </dt>
  <dd>
    <%= @daily_reflection.created_at.strftime("%D") %>
  </dd>

  <br>
 
  <dt>
    Updated on
  </dt>
  <dd>
    <%= @daily_reflection.updated_at.strftime("%D") %>
  </dd>
</dl>

