<h1>
  MMMy Reflections
</h1>

<a href="/new_daily_reflection_form">
  Add a new reflection
</a>

<br>
 
<a href="/users/sign_out" data-method="delete">
  Sign out
</a>

<hr>

<table>
  <tr>
    <th>
      #
    </th>

    <th>
      Reflection
    </th>

    <th>
      Created on
    </th>

    <th>
      Updated on
    </th>

    <th>
    </th>
  </tr>

  <% @daily_reflections.each do |daily_reflection| %>
  <tr>
    <td>
      <%= daily_reflection.id %>
    </td>

    <td>
      <%= daily_reflection.reflection_text %>
    </td>

    <td>
      <%= daily_reflection.created_at.strftime("%D") %>
    </td>

    <td>
      <%= daily_reflection.updated_at.strftime("%D") %>
    </td>

    <td>
      <a href="/daily_reflections/<%= daily_reflection.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>